.container-all{
    margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column
}


.title-area{
    font-weight: 600;
    font-size: 1.5rem;
    width: 100%;
}
.text-area {
    display: flex;
    flex-direction: column;
}
.input-text{
    font-size: 1rem; 
    width: 100%;
    height: 100%;
}

fieldset{
    padding: 1rem;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 0.3rem;
}

.radio-options{
    margin-bottom: 0.5rem;
}

#buttons{
    display: flex;
    width: 100%;
}
button{
    border-right: 1px solid rgb(233, 233, 201);
}
.button-c{
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
    color: rgb(233, 233, 201);
    background-color: var(--blackDark);
    padding: 1.3rem;
    border-bottom: 1px solid rgb(50 50 50);
}