.container-p4{
    background-color: #dcb0dc;
    width: 80vw;
    height: 80vh;

}
.form-control{
    font-size: 24px;
    color: black;
    padding: 1%;
}
.edit-image{
    max-height: 62%;
    position: relative;
    left: -23%;
    top: 11%;
    padding: 1%;
    background-color: #9e339e;
}
.title-name{
    font-size: 160%;
    position: relative;
    right: 24%;
    top: 5%;
}
.form-edit{
    position: relative;
    bottom: 49%;
    left: 46%;
    width: 50%;
    background-color:#7e097e;
    border: 6px solid #c871c8;
}
.e-productname{
    border: 1px solid black;
}
.return-home{
    background-color:#7e097e;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    padding: 1%;
    position: relative;
    color:  #dcb0dc;
    bottom: 7%;
    border: 3px solid #dcb0dc;
    margin: 1px 1px 1px 1px;
}
main form fieldset{
    background-color: #7e097e;
    width: 100%;
}
main form legend{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    background-color:#7e097e;
    color:  #dcb0dc;
}
main button{
    background-color:#7e097e;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    padding: 1%;
    color: #dcb0dc;
    bottom: 7%;
    border: 3px solid #dcb0dc;
    margin: 1px 1px 1px 1px;
}    
