
footer{
    background-color: #212121;
}
.main-footer{
    width: 100%;
    background-color: #212121;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
}

.logo-footer{
    width: 10vw;
}

.lista-footer{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    height: 11rem;
}
.lista-footer a{    
    color: #dddddd;
    font-size: 14px;
    text-decoration: revert;
}
.lista-footer a:hover{
    text-shadow: 0 1px 1px #5928b1;
    transition: text-shadow 0.3s;
}
.lista-footer p{
    font-weight: 600;
    color: #dddddd;
}
.Title-social{
    color: #dddddd;
    font-weight: 600;
}
.lista-footer li{
    margin-top: 1rem;
}

.icons-footer{
    display: flex;
    flex-direction: column;
}

.icons-footer a{
    color: #dddddd;
    padding: 3px;
    display: flex;
    margin-top: 1rem;
}
.icons-footer a p{
    color: #dddddd;
    font-size: 14px;
    padding-left: 3px;
}.icons-footer a:hover, .icons-footer a p:hover{
    text-shadow: 0 1px 1px #5928b1;
}

.copyright p{
    color: rgb(136 136 136);
    border-top: solid 1px #5928b1;
    padding-top: 0.325rem;
    display: flex;
    justify-content: center;
    font-size: 10px;
    width: 100%;
}
.content{
    background-color: #212121;
}


.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: var(--whiteLetter);
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}
.btn-wsp:hover{
    text-decoration: none;
    color:  #0df053;
    background-color: var(--white);
}

.contact-location{
    display: none;
    width: 10rem;
}
.contact-location li{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}.contact-location p{
    font-size: 12px;
    margin-left: 5px;
    color: #dddddd;
}.contact-location i{
    color: #5928b1;
}
.contact-location li:hover i{
    color: #9a66d3;
    cursor: pointer;
    transition: color 0.3s;
}


@media screen and (min-width:0px) and (max-width:1023px) {
    .btn-wsp{
        display: none;
    }
}
