.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:1rem ;
}

.logo-footer{
    width: 5rem;
}

.lista-footer{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.lista-footer li{
    margin: 0.2rem;
}

.icons-footer{
    display: flex;
    flex-direction: row;
    margin: 1rem;
}
.icons-footer a{
    margin: 5px;
}

.copyright p{
    color: #ffdfff;
    border-top: solid 1px #ffdfff;
    padding-top: 0.325rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .lista-footer li {
        margin-right: 3rem;
    }
    .icons-footer a{
        margin: 0.3rem;
    }
    .icons-footer{
        margin: 1rem;
    }
    .icons-footer a{
        margin: 15px;
    border: solid 1px;
    padding: 4px;
    border-radius: 8px;
    background-color: #dcb0dc;
    }
}

@media (min-width: 1024px){
    .lista-footer{
        flex-direction: row;
    }
    .lista-footer li {
        margin-right: 3rem;
    }
    .icons-footer a{
        margin: 0.3rem;
    }
    .icons-footer{
        margin: 1rem;
    }
    .icons-footer a{
        margin: 15px;
    border: solid 1px;
    padding: 4px;
    border-radius: 8px;
    background-color: #dcb0dc;
    }
}

