* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    border: none;

}

/*header*/
.main-header {
    background-color: #7e097e;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.picture-logo{
    width: 25%;
}
.picture-logo .img-logo{
    width: 100%;
}

.header-top-bar {
    display: flex;
    /* margin-left: 2rem; */
    margin-right: 2rem;
    width: 80%;
    justify-content: space-around;

/*CAMBIO EL HEADER PAQRA QUE EN TODAS LAS PAGINAS QUEDE CENTRADO Y BIEN DISTRIBUIDO*/

   /* display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 80%;*/
}
/*

.header-top-bar ul {
    display: flex;
    margin-left: auto;
    text-decoration: none;
}
*/
.nav-bar li {
    display: none;
    background-color: #9e339e;
    border-radius: 5px;
    /*margin: 2rem;*/
    padding: 0.3rem;
}


.header-search-bar {
    text-align: center;
    background-color: aliceblue;
    width: 45%;

    display: flex;
    position: relative;
    margin: 1rem;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #fff;
    height: 30px;
    border-radius: 5px;
}

.header-bottom-bar {
    display: none;
    justify-content: center;
}

/*

.header-bottom-bar ul li {
    margin: 2rem;
}
*/

.menu{
    margin-left: auto;
    display: none;
}
/*
.menu li {
    margin: 0 10px;
}*/

.hamburger-button{
    background-color: black;
    width: 50px;
    height: 50px;
    padding: 20px;
    margin: 0;
    /* text-align: center; */
    display: flex;
    align-content: center;
    align-self: center;
    border-radius: 5px;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    
}

.fa-bars{
    color: #fff;

}
.barraDeBusqueda {
    width: 100%;
    border-radius: 10px;
}
.barraDeBusqueda input{
    width: 80%;
    border-radius: 10px;
}