* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    border: none;

}

/*header*/
.main-header {
    background-color: #7e097e;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.elnave{
    width: 100%;
    display: flex;
    position: relative;
}

.picture-logo{
    text-align: center;
    width: 20%;
    padding: 0;
  margin: 0;
  border: 0;
  /* left: auto; */
}
.picture-logo .img-logo{
    width: 100px;
}

.header-top-bar {
    display: flex;
    /* margin-left: 2rem; */
    margin-right: 2rem;
    width: 80%;

/*CAMBIO EL HEADER PAQRA QUE EN TODAS LAS PAGINAS QUEDE CENTRADO Y BIEN DISTRIBUIDO*/

   /* display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 80%;*/
}
/*

.header-top-bar ul {
    display: flex;
    margin-left: auto;
    text-decoration: none;
}
*/

.nav-bar li {
    display: none;
    border-radius: 5px;
    /*padding: 0.3rem;
    background-color: #9e339e;
    margin: 2rem;
    border: solid 1px;*/
    margin: 15px;
    
    padding: 4px;
    border-radius: 8px;
    background-color: #dcb0dc;
    color: #200920;
}

/*
.header-search-bar {
    text-align: center;
    background-color: aliceblue;
    width: 80%;

    display: flex;
    position: relative;
    margin: 1rem;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #fff;
    height: 30px;
    border-radius: 5px;
}*/




.header-search-bar {
	position: absolute;
	/*left: 48%;
	top: 45%;
	transform: translate(-50%,-50%);
    */

    left: 40%;
    top: 30%;
	padding: 10px;
}

.header-search-bar input {
	outline: none;
	box-sizing: border-box;
	height: 40px;
	width: 200px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 1px solid #200920;
	transition: all .7s ease;
}

::placeholder {
	color: grey;
}

.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 60px;
	height: 60px;
	background: #200920;
	line-height: 60px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}

.btn i {
	font-size: 25px;
	color: white;
	line-height: 60px;
	transition: all .7s ease;
}

.header-search-bar:hover input {
	width: 250px;
}

.header-search-bar:hover i{
	transform: rotate(-360deg);
}

.btn:hover{
	background: #200920;
}



.header-bottom-bar {
    display: none;
    justify-content: center;
}

/*

.header-bottom-bar ul li {
    margin: 2rem;
}
*/

.menu{
    margin-left: auto;
    display: none;
}

.menu a i{
    margin: 15px;
    border: solid 1px;
    padding: 4px;
    border-radius: 8px;
    background-color: #dcb0dc;
}
/*
.menu li {
    margin: 0 10px;
}*/

.hamburger-button{
    background-color: black;
    width: 50px;
    height: 50px;
    padding: 20px;
    margin: 0;
    /* text-align: center; */
    display: flex;
    align-content: center;
    align-self: center;
    border-radius: 5px;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 90%;
    top: 30%;
    
}

.fa-bars{
    color: #fff;

}
.barraDeBusqueda {
    width: 100%;
    border-radius: 10px;
}
.barraDeBusqueda input{
    width: 80%;
    border-radius: 10px;
}

.icons-header{
    display: flex;
    flex-direction: row;
    margin: 0;
    box-sizing: border-box;
    width: 50%;
    align-items: center;
    /*margin: 1rem;
    width: auto;*/
}
.icons-header a{
    margin: 5px;
    border: solid 1px;
    padding: 2px;
    border-radius: 8px;
    background-color: #dcb0dc;
    box-sizing: border-box;
}