main{
    margin-top: 7rem;
}
body{
    background-color: #343434;
}

#logo-login{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#logo-login img{
    width: 5rem;
    margin-left: 30%;
}#logo-login img:hover{
    cursor: pointer;
    width: 7rem;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.feedback{
    color: red;
    font-weight: bold;
}

#logo-login i{
    color: #7e097e;
    font-size: 1.3rem;
}#logo-login i:active{
    color: blueviolet;
}#logo-login i:hover{
    color: #d35bd3;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

/*
#left-login{
    
}*/

#rigth-login {
    display: none;
    width: 50%;
}
#image-login{
    width: 100%;
    height: 100%;
}

h2{
    margin: 0px 3rem 0rem;
    border-bottom: 1px solid grey;
    font-size: 15px;
    color: #fff;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs-login{
    color: #fff;
    background-color: rgba(16,16,16,.4);
    width: 80%;
    padding: 0.5rem;
    margin: 1rem;
    box-shadow: inset 0 0 0 2px #3d3d3d;
    border-radius: 8px;
    outline: none;
}
#iniciar-sesion{
    margin: 1rem;
    color: #fff;
    font-size: 13px;
    background-color: #7e097e;
    width: 80%;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
}

#olvide-contraseña{
    margin-top: 30px;
    text-align: center;
}
#olvide-contraseña a{
    color: #fff;
    text-decoration: none;
}
#registrate{
    margin-top: 30px;
    text-align: center;
}
#registrate a{
    color: #fff;
    text-decoration: none;
}

#remember-me{
    display: flex;
    width: 80%;
}#remember-me p{
    margin-left: 8px;
    color: #fff;
}#remember-me input{
    cursor: pointer;
}