@import url('header.css');
@import url('footer.css');
body{
    background-color: #100E0F;
    color: #7e097e;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
main form{
    margin: 0.8rem 0 0.8rem 0;
}
main label{
    display: none;
}
main a{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    margin: 0 0 0.8rem 0;
    color: #7e097e;
}
input{
    margin: 0 0 0.8rem 0;
    border-radius: 0.5rem;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
}
button{
    border-radius: 0.5rem;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    color: white;
    background-color: #7e097e;
    cursor: pointer;
}
.header-search-bar{
    display: none;
}
.button-register{
    max-width: 474.94px;
    width: 100vw;
}
a{
    text-decoration: none;
    color: #100E0F;
}
footer{
    background-color: #7e097e;
}

@media (min-width: 768px)  {
    .lista-footer li {
        margin-right: 3rem;
    }
    .icons-footer a{
        margin: 0.3rem;
    }
    .icons-footer{
        margin: 1rem;
    }
    .icons-footer a{
        margin: 15px;
    border: solid 1px;
    padding: 4px;
    border-radius: 8px;
    background-color: #dcb0dc;
    }
    .hamburger-button{
        display:none;
    }

    .img-logo {
        width: 10%;
    }

    .menu{
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .menu li{
        display: flex;
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;
        
    }

    .main-header{
        flex-wrap: wrap;
    }
    .header-search-bar {
        width: 70%;
        border-radius: 5px;
        margin: 10px 0px 0px 0px;
    }
    .barraDeBusqueda{
        width: 100%;
    }
    .barraDeBusqueda input{
        width: 90%;
        border-radius: 10px;
    }
    .header-bottom-bar {
        display: flex;
        position: relative;
        width: 100%;
        margin: 0px;
        justify-content: space-around;
        align-items: center;
        background-color: #9e339e;
        border-radius: 5px;
        margin-top: 10px;
    }
    
    .header-bottom-bar li {
        display: flex;
        position: relative;

       
    }

    .header-top-bar {
        flex-wrap: wrap;
        width: 90%;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        align-items: center;
    }
    .nav-bar  {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        
    }
    
    .nav-bar li {
        display: flex;
        position: relative;
       
    }
    
}

@media (min-width: 1024px){
    .lista-footer{
        flex-direction: row;
    }
    .lista-footer li {
        margin-right: 3rem;
    }
    .icons-footer a{
        margin: 0.3rem;
    }
    .icons-footer{
        margin: 1rem;
    }
    .icons-footer a{
        margin: 15px;
    border: solid 1px;
    padding: 4px;
    border-radius: 8px;
    background-color: #dcb0dc;
    }
}
