@import url('header.css');
@import url('footer.css');


a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

body {
    background-color: #7e097e;

}


/*main*/

.h2-container {
    background-color: #7e097e;
    border-radius: 15px;
    width: 50%;
    margin-left: 25%;
}

.eslogan-oferta {
    text-align: center;
    font-weight: 300;
    color: #ffdfff;
}

.offers-container {
    background-color: #200920;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.offers-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    flex-direction: column;
}

.offers-list li img {
    width: 17rem;
    border-radius: 5%;
}

.precios-container {
    display: flex;
    justify-content: center;
}

.precio-ahora {
    color: #ffdfff;
    font-size: 1.3rem;
    font-weight: 600;
}

.precio-anterior {
    text-decoration: line-through;
    color: #dcb0dc;
    margin-top: 1rem;
}

.juegos {
    text-align: center;
    background-color: #7e097e;
    border: solid #7e097e 0.5rem;
    border-radius: 5%;
    margin-top: 3rem;
}

.juegos h2 {
    color: #ffdfff;
    font-weight: 100;
    margin-bottom: 0.3rem;
}

.main-content {
    display: flex;
    flex-direction: column;
}


@media (min-width: 768px) {
    .lista-footer li {
        margin-right: 3rem;
    }

    .icons-footer a {
        margin: 0.3rem;
    }

    .icons-footer {
        margin: 1rem;
    }

    .icons-footer a {
        margin: 15px;
        border: solid 1px;
        padding: 4px;
        border-radius: 8px;
        background-color: #dcb0dc;
    }

    .hamburger-button {
        display: none;
    }

    .img-logo {
        width: 10%;
    }

    .menu {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .menu li {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;

    }

    .main-header {
        flex-wrap: wrap;
    }

    .header-search-bar {
        width: 70%;
        border-radius: 5px;
        margin: 10px 0px 0px 0px;
    }

    .barraDeBusqueda {
        width: 100%;
    }

    .barraDeBusqueda input {
        width: 90%;
        border-radius: 10px;
    }

    .header-bottom-bar {
        display: flex;
        position: relative;
        width: 100%;
        margin: 0px;
        justify-content: space-around;
        align-items: center;
        background-color: #9e339e;
        border-radius: 5px;
        margin-top: 10px;
    }

    .header-bottom-bar li {
        display: flex;
        position: relative;


    }

    .header-top-bar {
        flex-wrap: wrap;
        width: 90%;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        align-items: center;
    }

    .nav-bar {
        display: flex;
        position: relative;
        /*width: 50%;*/

    }

    .nav-bar li {
        display: flex;
        position: relative;
        margin: 10px 0px 0px 0px;
    }

    .main-content {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
        text-align: center;
    }

    .offers-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 3rem;
        position: relative;
        right: -1%;
        flex-wrap: wrap;
    }

    .offers-container {
        max-width: 100vw;
        justify-content: center;
        background: linear-gradient(176deg, black, #0000006b)
    }

    .juegos {
        max-width: 40%;
    margin-left: -1rem;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2%;
    margin-top: 3%;
    }

    .offers-list li img {
        width: 12rem;
        border-radius: 5%;
    }

    main ul li h2 {
        font-size: 1rem;
    }

    .h2-container {
        margin-top: 3%;
        border: 1px solid aliceblue;
    }

}



@media (min-width: 1024px) {
    .lista-footer {
        flex-direction: row;
    }

    .lista-footer li {
        margin-right: 3rem;
    }

    .icons-footer a {
        margin: 0.3rem;
    }

    .icons-footer {
        margin: 1rem;
    }

    .icons-footer a {
        margin: 15px;
        border: solid 1px;
        padding: 4px;
        border-radius: 8px;
        background-color: #dcb0dc;
    }
    .main-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;    }
    .juegos{
        justify-content: space-around;
        margin: 1%;
    }
    }


