@import url('header.css');
@import url('footer.css');


a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}

body{
    background-color: #7e097e;    
}



/*main*/

.h2-container{
    background-color: #7e097e;
    border-radius: 15px;
    width: 50%;
    margin-left: 25%;
}
.eslogan-oferta{
    text-align: center;
    font-weight: 300;
    color: #ffdfff;
}
.offers-container{
    background-color: #3e093e;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
.offers-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    flex-direction: column;
}
.offers-list li img{
    width: 17rem;
    border-radius: 5%;
}
.precios-container{
    display: flex;
    justify-content: center;
}
.precio-ahora{
    color: #ffdfff;
    font-size: 1.3rem;
    font-weight: 600;
}
.precio-anterior{
    text-decoration:line-through;
    color: #dcb0dc;
    margin-top: 1rem;
}
.juegos{
    text-align: center;
    background-color: #7e097e;
    border: solid #7e097e 0.5rem;
    border-radius: 5%;
    margin-top: 3rem;
}
.juegos h2{
    color: #ffdfff;
    font-weight: 100;
    margin-bottom: 0.3rem;
}
.main-content{
    display: flex;
    flex-direction: column;
}
<<<<<<< HEAD
=======


@media (min-width: 768px) and (max-width: 1023px) {
    .lista-footer li {
        margin-right: 3rem;
    }
    .icons-footer a{
        margin: 0.3rem;
    }
    .icons-footer{
        margin: 1rem;
    }
    .icons-footer a{
        margin: 15px;
    border: solid 1px;
    padding: 4px;
    border-radius: 8px;
    background-color: #dcb0dc;
    }
    .hamburger-button{
        display:none;
    }
    .header-bottom-bar {
        display: flex;
        position: relative;
    }
    .header-top-bar {
        flex-wrap: wrap;
    }
    .nav-bar  {
        display: flex;
        position: relative;
        width: 50%;
        
    }
    .nav-bar li {
        display: flex;
        position: relative;
        margin: 2rem auto;
    }
}


@media (min-width: 1024px){
    .lista-footer{
        flex-direction: row;
    }
    .lista-footer li {
        margin-right: 3rem;
    }
    .icons-footer a{
        margin: 0.3rem;
    }
    .icons-footer{
        margin: 1rem;
    }
    .icons-footer a{
        margin: 15px;
    border: solid 1px;
    padding: 4px;
    border-radius: 8px;
    background-color: #dcb0dc;
    }
}

>>>>>>> c365d0bc94635a1cfbdc0d6b69f66754b911b4c8

