body{
    background-color: black;
}
main{
    background-color: white;
    padding-top: 3vh;
}

/*imagen*/
.container-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-juego{
    width: 15rem;
}

/*categorias*/
.contenedorJuego{
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;

    background-color: gainsboro;
    color: black;
    border-radius: 5px;
    align-items: center;
}

.category{
    display: flex;
    margin-right: 1rem;
    font-weight: 600;
}
#category-item{
    padding-right: 0.5rem;
    border-right: solid 1px grey;
}
#name-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    left: -13px;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    position: relative;
    background-color: gray;
    color: #fff;
    border-radius: 5px;
}

#title-item{
    border-bottom: 1px solid gainsboro;
}
.description{
    padding: 5%;
}
.lista-description{
    padding: 5%;
}
.lista-description li{
    padding-bottom: 0.3rem;
}


.precios{
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem 5% 0.2rem;
    display: flex;
    
}
#ars{
    font-weight: 800;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cantidadProductos{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.2rem 5% 2rem
}
.cantidadProductos input{
    outline: #fff;
    border: 1px solid rgb(219, 219, 219) ;
    margin-right: 1rem;
    text-align: center;
    border-radius: 5px;
    padding: 0.5rem 3.5rem 0.5rem 0;
}
.cantidadProductos input:focus{
    border: 2px solid rgb(125, 0, 136);
}
.cantidadProductos a:active{
    color: white;
    background-color: rgb(255, 0, 179);
}
.cantidadProductos a{
    color: black;
    text-align: center;
    border-radius: 5px;
    width: 7rem;
    background-color: blueviolet;
    padding: 0.5rem;
}


/*SKU / CLASIFICATION / CATEGORY */
.scc{
    padding: 5%;
}
.scc li{
    padding: 0.3rem;
    display: flex;
    font-weight: 600;
}
.scc p{
    margin-left: 5px;
    font-weight: 500;
    color: blueviolet;
}


/*BOTONES CRUD*/

.botones{
    border-bottom:solid 1px grey ;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid gainsboro;
    background-color: black
}
.botones a{
    text-align: center;
    width: 30%;
    color: white;
    background-color: black;
}
.botones form{
    text-align: center;
    width: 30%;
    padding: 1rem;
}
.botones button{
    font-size: 1rem;
    cursor: pointer;
}
.botones a:hover{
    color: blueviolet;
    transition: color 0.5s ;
}
.crear-editar{
    border-right: solid 1px whitesmoke;
    padding: 1rem;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
        #name-product{
            display: none;
        }
}
@media screen and (min-width:574px) and (max-width:767px){
    main{
        padding: 10% ;
    }

}

@media screen and (min-width:768px){
    .section-description{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .list-products{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;

    }
    .scc {
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
    }
    .price-content{
        display: flex;
        width: 21rem;
        flex-direction: row;
        margin-top: 0.3rem;
    }

    #name-product{
        margin-left: 15%;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 800;
    }
    .description{
        width: 18rem;
        padding: 0;
    }
    .lista-description{
        padding: 1rem 0 0 ;
    }
    .contenedorJuego{
        display:none;
    }
    .main-content{
        padding: 10% ;
    }

}