main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-search-bar{
    display: none;
}

.contenedorImg{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #dcb0dc;
}

.main-content {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    margin: 30px
}
.main-content h3{
    display: flex;
    justify-content: center;
    width: 20%;
    flex-direction: row;
    top: -47%;
    left: 13%;
    position: relative;
    font-size: 19px;
}

.contenedorImg img{
    width: 40%;
    padding-bottom: .4rem;
    margin: 20px;
}

.picture-logo{
    height: 80px;;
}

#descripcionJuego{
    display: flex;
    font-weight: bolder;
    font-size: .9rem;
    flex-direction: row;
    text-align: justify;
    padding: 2rem;
}
h3{
    display: flex;
    justify-content: flex-start;
    padding-top: .4rem;
    margin: auto;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
    text-shadow: 2px 2px 2px white;
}

@media screen and (min-width:768px) {

    .main-header{
        width: 100%;
        /* flex-wrap: wrap; */
        justify-content: center;
    }

    .picture-logo .img-logo {
        width: 80%;
    }
/*
    ul.nav-bar{
        display: flex;
        width: 100%;
        /* margin: auto; */
       /* justify-content: space-evenly;
    }*/

    .header-top-bar {
        flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        align-items: center;
    }

    .menu {
        display: flex;
        /* align-items: center; */
        /* margin-top: 10px; */
        flex-direction: row;
        /* text-align: center; */
        width: 50%;
        margin: auto;
        /* gap: 12rem; */
        padding: 1rem;
        justify-content: flex-end;
    }

    
    .hamburger-button{
        display: none;
    }

  

    .main-content {
        flex-direction: row;
        }

    .contenedorImg{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: #dcb0dc;
    }

    .contenedorImg img{
        width: 25%;
        padding: .4rem;
    }
    
    .crear h2{
        background: #7e097e;
        color: #dcb0dc;
        margin: 10px;
        padding: 10px;
    }
    
}

@media screen and (min-width:1024px) {

    
    .contenedorImg img{
        width: 24%;
        padding: 0.9% 0.9%;
        margin: 3% 3% 3% 1%;
        background-color: #7e097e;
        border-radius: 2%;
    }

    #descripcionJuego{
        display: flex;
        gap:1rem;
    }
    
}
.header-search-bar {
    position: absolute;
    left: 91%;
    top: 21%;
    transform: translate(-95%,-50%);
    padding: 10px;
}
.buyProduct{
    background-color: #dcb0dc;
}