body{
    background-color: #343434;
}
main{
    margin: 8rem 0;
}

#logo-register{
    display: flex;
    justify-content: space-around;
    align-items: center;
}#logo-register img{
    width: 5rem;
    margin-left: 30%;
}#logo-register i{
    color: #7e097e;
    font-size: 1.3rem;
}#logo-register img:hover{
    cursor: pointer;
    width: 7rem;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}#logo-register i:active{
    color: blueviolet;
}#logo-register i:hover{
    color: #d35bd3;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

h2{
    margin: 0px 3rem 0rem;
    border-bottom: 1px solid grey;
    font-size: 15px;
    color: var(--whiteLetter);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs-register{
    color: var(--whiteLetter);
    background-color: rgba(16,16,16,.4);
    width: 80%;
    padding: 0.5rem;
    margin: 1rem;
    box-shadow: inset 0 0 0 2px #3d3d3d;
    border-radius: 8px;
    outline: none;
}

#button-register{
    margin: 1rem;
    color: var(--whiteLetter);
    font-size: 13px;
    background-color: #7e097e;
    width: 80%;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
}

.feedback{
    color: var(--red);
} 

#register-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}