<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>

<main>
    <p class="title">404 ERROR</p>
    <img src="./images/pc-dead.png" alt="" class="pc-dead">
    <p class="sub">GAME OVER</p>

        <input type="button"> <a class="button" href="/">volver al inicio</a>
</main>

<footer>
    <%- include('./partials/footer.ejs') %>
</footer>
</body>
</html>