<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head.ejs') %>

        <link rel="stylesheet" href="/css/carrito.css">

</head>

<body>

    <%- include('./partials/header.ejs') %>

        <main class="contenedor-general">

            <article class="contenedor-uno">

                <h2>Bienvenido a su carrito</h2>

                <p>Descripción de su compra</p>

            </article>

            <h3>Fifa22</h3>

            <section class="contiene-dos">

                <!--<article id="titulotres">

                <h3>Fifa22</h3>

            </article>-->

                <img src="images/fifa-dh.png" alt="Fifa">


                <form action="#" method="get">

                    <select name="cantidadProductos">

                        <option value="producto1">1 Producto</option>

                        <option value="producto2">2 Productos</option>

                        <option value="producto3">3 Productos</option>

                        <option value="producto4">4 Productos</option>

                        <option value="producto5">5 Productos</option>

                        <option value="producto6">6 Productos</option>

                        <option value="masproductos">Mas de 6 Productos</option>

                    </select>

                </form>

                <p>Precio<br>

                    $1.500</p>

                <button type="reset"><i class="fa-solid fa-trash"></i></button>

            </section>

            <article class="detalle">


                <section id="mediosdepago">

                    <img src="./images/Mastercard.jpg" alt="paga con mastercard">

                    <img src="./images/mercado-pago.png" alt="paga con mercado pago">

                    <img src="./images/rapipago.jpg" alt="Paga con rapipago">

                    <img src="./images/visa.jpg" alt="Paga con visa">

                </section>

                <h3 id="comprar"><a href="#">Comprar</a></h3>


            </article>

            </section>

            <!--<section class="medioPago">

            <img src="" alt=""><p>consultar que poner</p>
            
            <img src="" alt=""><p>consultar que poner</p>
            
            <img src="" alt=""><p>consultar que poner</p>


        </section>-->

        </main>

        <footer>

            <%- include('./partials/footer.ejs') %>

        </footer>
</body>


</html>