<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <form action="/producto/actualizar?m=PUT" method="post">

        <input type="hidden" name="sku" >

        <fieldset>
            <legend>Nombre de producto</legend>
            <input type="text" name="name" id="name" >    
        </fieldset>
        <fieldset>
            <legend>Precio de producto</legend>
            <input type="text" name="price" id="price" >
        </fieldset>
        <fieldset>
            <legend>Categoria de producto</legend>
            <label for="category-action"></label>
            <input type="radio" name="category" id="category-action"  >
            <label for="category-adventure"></label>
            <input type="radio" name="category" id="category-adventure" value="adventure"  >
            <label for="category-survival"></label>
            <input type="radio" name="category" id="category-survival" value="survival" >
        </fieldset>
        

        <button type="submit">Guardar</button>

    </form>
</body>
</html>