<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main class="main-content">
      <nav class="offers-container">
        <div class="h2-container">
          <h2 class="eslogan-oferta">Las mejores ofertas</h2>
        </div>
        <ul class="offers-list">
          <a href="/productDetail"><li class="juegos">
            <h2>FIFA 22</h2>
            <img
              src="images/fifa-dh.png"
              alt="fifa, juegos, videojuesgos, ps4"
            /></a>
            <div class="precios-container">
              <p class="precio-ahora">$1.500</p>
              <p class="precio-anterior">$2.200</p>
            </div>
          </li>
          <li class="juegos">
            <h2>Red dead Redemption ||</h2>
            <img
              src="images/red2-dh.png"
              alt="watch dogs, juegos, videojuesgos, ps4"
            />
            <div class="precios-container">
              <p class="precio-ahora">$1.500</p>
              <p class="precio-anterior">$2.200</p>
            </div>
          </li>
          <li class="juegos">
            <h2>The Last Of Us ||</h2>
            <img src="images/tlou2-dh.png" alt="tlou2, juegos, videojuegos" />
            <div class="precios-container">
              <p class="precio-ahora">$1.500</p>
              <p class="precio-anterior">$2.200</p>
            </div>
          </li>
          <li class="juegos">
            <h2>Grand Theft Auto V</h2>
            <img src="images/gtav-dh.png" alt="tlou2, juegos, videojuegos" />
            <div class="precios-container">
              <p class="precio-ahora">$1.500</p>
              <p class="precio-anterior">$2.200</p>
            </div>
          </li>
          <li class="juegos">
            <h2>Microsoft: Flight Simulator</h2>
            <img src="images/gtav-dh.png" alt="tlou2, juegos, videojuegos" />
            <div class="precios-container">
              <p class="precio-ahora">$1.500</p>
              <p class="precio-anterior">$2.200</p>
            </div>
            <li class="juegos">
              <h2>JUEGO EJEMPLO</h2>
              <img src="images/tlou2-dh.png" alt="tlou2, juegos, videojuegos" />
              <div class="precios-container">
                <p class="precio-ahora">$1.500</p>
                <p class="precio-anterior">$2.200</p>
              </div>
            </li>
            <li class="juegos">
              <h2>JUEGO EJEMPLO</h2>
              <img src="images/tlou2-dh.png" alt="tlou2, juegos, videojuegos" />
              <div class="precios-container">
                <p class="precio-ahora">$1.500</p>
                <p class="precio-anterior">$2.200</p>
              </div>
            </li>
            <li class="juegos">
              <h2>JUEGO EJEMPLO</h2>
              <img src="images/tlou2-dh.png" alt="tlou2, juegos, videojuegos" />
              <div class="precios-container">
                <p class="precio-ahora">$1.500</p>
                <p class="precio-anterior">$2.200</p>
              </div>
            </li>
            <li class="juegos">
              <h2>JUEGO EJEMPLO</h2>
              <img src="images/tlou2-dh.png" alt="tlou2, juegos, videojuegos" />
              <div class="precios-container">
                <p class="precio-ahora">$1.500</p>
                <p class="precio-anterior">$2.200</p>
              </div>
            </li>
        </ul>
      </nav>
    </main>

  </body>
  <footer class="main-footer">
    <%- include('./partials/footer.ejs') %>
  </footer>
</html>
