<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Digital House</title>
</head>
<body>
    <header class="main-header">
        <section class="header-top-bar">
            <img src="images/logo.png" class="img-logo" alt="Juegos">

            <ul class="nav-bar">
                <li><a href="#">Juegos del momento</a></li>
                <li><a href="#">Más vendidos</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Soporte 24/7</a></li>
            </ul>

            <ul class="menu">
                <li>Nombre de usuario</li>
                <li><a href="#" class="fa-solid fa-cart-shopping"></a></li>
                <li><a href="#" class="fa-solid fa-user"></a></li>
            </ul>
        </section>
        <div class="header-search-bar">
            <form action="/" method="GET" class="barraDeBusqueda">
                <input type="text" placeholder="Buscar juegos, marcas, ofertas.."> <a href="/" class="fa-solid fa-magnifying-glass"></a>  
              </form>
        </div>
        <section class="header-bottom-bar">
            <ul>
                <li><a href="#">Playstation</a></li>
                <li><a href="#">Xbox</a></li>
                <li><a href="#">Nintendo</a></li>
                <li><a href="#">PC</a></li>     
            </ul>
        </section>
    </header>

    <main class="main-content">
        <div class="offers-container">
           <div class="h2-container">
        <h2 class="eslogan-oferta">Las mejores ofertas</h2>
           </div>
        <ul class="offers-list">
            <li class="juegos">
                <h2>FIFA 21</h2>
                <img src="images/fifa-dh.png" alt="fifa, juegos, videojuesgos, ps4">
                <div class="precios-container">
                    <p class="precio-ahora">$1.500</p>
                    <p class="precio-anterior">$2.200</p>
                </div>
            </li>
        <li class="juegos">
            <h2>Red dead Redemption ||</h2>
            <img src="images/red2-dh.png" alt="watch dogs, juegos, videojuesgos, ps4">
            <div class="precios-container">
                <p class="precio-ahora">$1.500</p>
                <p class="precio-anterior">$2.200</p>
            </div>
        </li>
        <li class="juegos">
            <h2>The Last Of Us || </h2>
            <img src="images/tlou2-dh.png" alt="tlou2, juegos, videojuegos">
        <div class="precios-container">
            <p class="precio-ahora">$1.500</p>
            <p class="precio-anterior">$2.200</p>
        </div>
        </li>
    </ul>
        </div>
    </main>

    <footer class="main-footer">
        <div class="content">
            <div class="links">
        <div class="logo-footer-container">
           <img src="images/logo.png" alt="Juegos" class="logo-footer"> 
        </div>

        <ul class="lista-footer">
            <li>
                <a href="#">Términos y condiciones</a>
            </li>
            <li>
                <a href="#">Contacto</a>
            </li>
            <li>
                <a href="#">Política de privacidad</a>
            </li>
        </ul>

        <div class="icons-footer">
            <a href="#" class="fa-brands fa-instagram"></a>
            <a href="#" class="fa-brands fa-youtube"></a>
            <a href="#" class="fa-brands fa-discord"></a>
            <a href="#" class="fa-brands fa-twitch"></a>
        </div>
    </div>
    </div>
    </footer>

</body>
</html>