<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    
    <%- include('./partials/header.ejs') %>

    <main class="mainLogin">

      <form action="/" method="POST">
        <label class="none" for="usuari@">Correo Electrónico</label>
        <input
          type="text"
          name="user"
          placeholder="Correo Electronico"
          id="usuari@"
          required
        />
        <label class="none" for="password">Contraseña</label>
        <input
          type="password"
          name="password"
          placeholder="Contraseña"
          id="password"
        />
        <button class="iniciar-sesion" type="submit">Iniciar Sesion</button>
      </form>
      <a class="olvide-contraseña" href="#">Olvide mi contraseña</a>
      <div class="button-register">
        <a href="/register"
          ><button class="registrate" type="submit">Regístrate</button></a
        >
      </div>
    </main>
    <footer class="main-footer">
      <%- include('./partials/footer.ejs') %>
    </footer>
  </body>
</html>
