<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Planet</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/" class="logo"><picture><img src="/images/logo.png" alt="logo-game-planet"></picture></a>
    </header>
    <main>
        <form action="/" method="POST">
            <label class="none" for="usuari@">Correo Electronico</label>
            <input type="text" name="user" placeholder="Correo Electronico" id="usuari@" required>
            <label class="none" for="password">Contraseña</label>
            <input type="password" name="password" placeholder="Contraseña" id="password">
            <button class="iniciar-sesion" type="submit">Iniciar Sesion</button>
          </form>
          <a href="#">Olvide mi contraseña</a>
          <a href="/register"><button class="registrate" type="submit">Registrate</button></a>
    </main>
    <footer class="main-footer">
        <div class="content">
            <div class="links">

        <ul class="lista-footer">
            <li>
                <a href="#">Términos y condiciones</a>
            </li>
            <li>
                <a href="#">Contacto</a>
            </li>
            <li>
                <a href="#">Política de privacidad</a>
            </li>
        </ul>

        <div class="icons-footer">
            <a href="#" class="fa-brands fa-instagram"></a>
            <a href="#" class="fa-brands fa-youtube"></a>
            <a href="#" class="fa-brands fa-discord"></a>
            <a href="#" class="fa-brands fa-twitch"></a>
        </div>
    </div>
    </div>
    </footer>
</body>
</html>