<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Planet</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300,500,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <header class="main-header">
      <picture class="picture-logo"><a href="/"><img src="images/logo.png" class="img-logo" alt="Juegos" /></a></picture>
      <section class="header-top-bar">
        <ul class="nav-bar">
          <li><a href="#">Juegos del momento</a></li>
          <li><a href="#">Más vendidos</a></li>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Soporte 24/7</a></li>
        </ul>

        <ul class="menu">
          <li>
            <a href="./register"
              >Registrarse <i class="fa-regular fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="./login">Ingresar <i class="fa-solid fa-user"></i></a>
          </li>
          <li>
            <a href="#"> <i class="fa-solid fa-cart-shopping"></i></a>
          </li>
        </ul>
        <div class="header-search-bar">
          <form action="/" method="GET" class="barraDeBusqueda">
            <input type="text" placeholder="Buscar..." />
            <a href="/" class="fa-solid fa-magnifying-glass"></a>
          </form>
        </div>
        <div class="hamburger-button">
          <a class="fa-solid fa-bars"></a>
        </div>
        <ul class="header-bottom-bar">
          <li><a href="#">Playstation</a></li>
          <li><a href="#">Xbox</a></li>
          <li><a href="#">Nintendo</a></li>
          <li><a href="#">PC</a></li>
        </ul>
      </section>
    </header>
    <main class="mainLogin">

      <form action="/" method="POST">
        <label class="none" for="usuari@">Correo Electrónico</label>
        <input
          type="text"
          name="user"
          placeholder="Correo Electronico"
          id="usuari@"
          required
        />
        <label class="none" for="password">Contraseña</label>
        <input
          type="password"
          name="password"
          placeholder="Contraseña"
          id="password"
        />
        <button class="iniciar-sesion" type="submit">Iniciar Sesion</button>
      </form>
      <a class="olvide-contraseña" href="#">Olvide mi contraseña</a>
      <div class="button-register">
        <a href="/register"
          ><button class="registrate" type="submit">Regístrate</button></a
        >
      </div>
    </main>
    <footer class="main-footer">
      <div class="content">
        <div class="links">
          <div class="logo-footer-container">
            <img src="images/logo.png" alt="Juegos" class="logo-footer" />
          </div>

          <ul class="lista-footer">
            <li>
              <a href="#">Términos y condiciones</a>
            </li>
            <li>
              <a href="#">Contacto</a>
            </li>
            <li>
              <a href="#">Política de privacidad</a>
            </li>
          </ul>

          <div class="icons-footer">
            <a href="#" class="fa-brands fa-instagram"></a>
            <a href="#" class="fa-brands fa-youtube"></a>
            <a href="#" class="fa-brands fa-discord"></a>
            <a href="#" class="fa-brands fa-twitch"></a>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>Copyright © 2022 Game Planet - All rights reserved</p>
      </div>
    </footer>
  </body>
</html>
