
.offers-container {
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin: auto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.offers-list {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}

.juegos {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.juegos img {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

h2 {
    width: 50%;
    margin: auto;
    display: flex;
}

.precio-ahora {
    color: #000000db;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

@media screen and (min-width:768px) {
    
    .offers-container {
        padding-top: 1rem;
        padding-bottom: 3rem;
        margin: auto;
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    h2 {
        width: 50%;
        margin: auto;
        display: flex;
    }

    .juegos img {
        width: 30%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:1024px) {

    .offers-container {
        padding-top: 1rem;
        padding-bottom: 3rem;
        margin: auto;
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    /*Lista de ofertas*/
    .offers-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    
    /*Clase de juegos*/
    .juegos {
        display: flex;
        width: 50%;
        margin: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }
    
    
    .juegos img {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        }
    
    
    .game-list{
        display: flex;
        width: 100%;
        align-items: center;
        margin: auto;
        flex-wrap: wrap;
    }
    
    .precio-ahora {
        color: #000000db;
        font-size: 1.5rem;
        width: 100%;
        font-weight: 600;
        display: flex;
        align-items: center;
        flex-direction: column;
        align-content: center;
        padding-bottom: 1rem;
    }
    
}