
#h2-container{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    color: #dddddd;
}

#users-admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.users-list{
    display: flex;
    width: 100%;
    flex-direction: column;
    /* padding-left: 2rem;*/
}

.user-li{
    display: flex;
    border-bottom: 1px solid #5928b1;
}

#userDetail-container{
    margin-left: 1rem;
    color: #dddddd;
}

#link-user{
    display: flex;
    height: 7rem;
    align-items: center;
}

#id-user{
    color: #dddddd;
}

#userDetail-container:hover {
    color: #5928b1;
    transition-property: color;
    transition-duration: 0.3s;
}

#img-user{
    width: 3rem;
    height: 3rem;
    border: 1px solid #5928b1;
    border-radius: 50%;
}


@media screen and (min-width: 1024px) { 
    #users-admin{
        display: flex;
        flex-direction: row;
        width: 80%;
        flex-wrap: wrap;
        margin: auto;
        border: 1px solid #5c5c5c;
    }
    .users-list{
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .user-li{
        width: 50%;
        padding-left: 5rem; 
        display: flex;
        border-bottom: 1px solid #5928b1;
        margin: auto;
    }
    main{
        padding: 0;
    }
}
    

