@import url(./productDetail.css);
main{
    padding: 0;
}
#header-cart{
    padding: 3rem 1rem 2rem;
    color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}#header-cart p{
    font-size: 0.8rem;
    margin-left: 0.5rem;
}#header-cart h1{
    color: #fff;
    font-size: 33px;
    font-weight: 800;
}

#warning-sentence{
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    margin-top: 0.8rem;
}

#terms-products{
    font-size: 0.9rem;
    padding: 0.5rem;
    color: #dddddd;
    border-bottom: 1px solid #ccc;
}
.details-p{
    color: #b399e3;
}

.product-name-img{
    display: flex;
}
.img-product-cart{
    width: 6rem;
}
.product-name-img h2{
    font-size: 0.9rem;
    margin-left: 0.5rem;
    color: #dddddd;
}

.name-ul-product{
    display: flex;
    flex-direction: column;
    color: #dddddddd;
    align-items: flex-end;
    justify-content: space-around;
}.name-ul-product ul{
    margin-top: 1rem;
}

.product-price{
    font-size: 1.3rem;
    font-weight: 800;
    margin-left: 1rem;
    color: #fff;
}

#description-product-cart{
    margin: 1rem;
}

.trash-button{
    margin: 0;
    font-size: 0;
    background: transparent;
    color: rgb(136 136 136);
}.trash-button i{
    font-size: 1.2rem;
}

#quantity-items{
    height: 2rem;
    width: 4rem;
    background-color: #dddddd;
    outline: none;
    font-size: 15px;
    border-radius: 2px;
}
.quantity-box{
    display: flex;
    align-items: center;
}

#cards-products{
    margin: 1rem;
    border: 1px solid #5928b1;
    background: #0e0e0ea6;
}


.pay-sentence{
    display: flex;
    align-items: center;
    color: #dddddd;
    font-size: 14px;
    margin-left: 1rem;
}
  
.methods-img{
    display: flex;
    margin-left: 2rem;
    color: rgb(136 136 136);
    align-items: center;
}.methods-img img{
    margin: 8px;
}

.crear:active{
    color: var(--whiteLetter);
    background-color: rgb(255, 0, 179);
}
.crear{
    color: #dddddd;
    text-align: center;
    width: 11rem;
    background-color: #5928b1;
    padding: 0.5rem;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    align-self: center;
    margin: 1rem 0;
}.crear:hover{
    background-color: #dddddd;
    color: #5928b1;
    transition-property: background-color color;
    transition-duration: 0.3s;
}

#buy-product{
    display: flex;
    flex-direction: column;
}

#payments{
    padding: 1rem 0;
    border-bottom: 2px dashed #5928b1;
}

#price{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 600;
    color: #dddddd;
}   

@media screen and (min-width: 768px){
    #cards-products{
        margin: auto;
        width: 45rem;
    }
    #payments{
        padding: 1rem 5rem;
    }
}

@media screen and (min-width: 1024px){
    #cards-products{
        margin: auto;
        width: 55rem;
    }
}