    form {
    display: flex;
    flex-direction: column
}

.feedback{
    color: red;
}
.title-area{
    color: #dddddd;
    font-weight: 600;
    font-size: 1.5rem;
    width: 100%;
}
.input-text{
    color: #dddddd;
    background-color: rgba(16,16,16,.4);
    width: 80%;
    padding: 1rem;
    margin: 1rem;
    box-shadow: inset 0 0 0 2px #3d3d3d;
    border-radius: 8px;
    outline: none;  
}

.text-area{
    margin:  1rem 0;
    padding:    1rem;
    border-bottom: 1px solid #5928b16e;
    
}.text-area label{
    font-weight: 600;
    color: #dddddd;
    margin: 0 1rem;
}

#buttons{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #5928b16e;
}
button{
    border-right: 1px solid rgb(233, 233, 201);
}
.button-c{
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
    color: #dddddd;
    background-color: #0e0e0e;
    padding: 1.3rem;
    border-right: 1px solid #282828;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    form{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .text-area{
        width: 30rem;
    }
}

@media screen and (min-width: 1440px) {
    .container-all{
        padding: 2rem 2rem 0;
    }
}