body{
    background-color: #272727;
}

form {
    display: flex;
    flex-direction: column;
}

.title-area{
    color: #dddddd;
    font-weight: 600;
    font-size: 1.5rem;
}
.text-area {
    display: flex;
    flex-direction: column;
}
.text-area label {
    color: #dddddd;
}

.input-text{
    color: #dddddd;
    background-color: rgba(16,16,16,.4);
    width: 80%;
    padding: 1rem;
    margin: 1rem;
    box-shadow: inset 0 0 0 2px #3d3d3d;
    border-radius: 8px;
    outline: none; 
}


.image-edit{
    width: 10rem;
    margin-left: 1rem;
}
#image{
    margin-bottom: 1rem;
    color: #dddddd;
}
fieldset{
    padding: 0rem 2rem;
    border-bottom: 1px solid #5928b16e;
    margin: 1rem 0;
}

.radio-options{
    margin-bottom: 0.5rem;
}

button {
    border-right: 1px solid rgb(233, 233, 201);
}

#buttons{
   width: 100%;
   display: flex;
}

.button-c{
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    color: white;
    background-color: #0e0e0e;
    padding: 1.3rem;
    border-bottom: 1px solid #5928b16e;
    border-right: 1px solid #282828;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    form{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    fieldset{
        width: 30rem;
    }
}

@media screen and (min-width: 1440px) {
    .container-all{
        padding: 2rem 15rem;
    }
}