@import url('normalize.css');
@import url('header.css');
@import url('footer.css');
@import url('error.css');


a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


/*main*/
main{
    background-color: #272727;
}

.title-top{
    display: flex;
    padding: 2rem 3rem 0;
    align-items: center;
    justify-content: space-between;
}.title-top h2{
    color: #fff;
}.title-top h3{
    display: flex;
    color: #dddddd;
    width: 6rem;
    height: 2rem;
    border-radius: 20px;
    background-color: #3d3d3d;
    justify-content: center;
    align-items: center;
}.title-top h3:hover{
    text-shadow: 0 0 1rem #5928b1;
    background-color: #5928b199;
    box-shadow: 0 0 5px #5928b1;
    transition-property: box-shadow;
    transition-duration: 0.1s;
}


.container-allMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.h2-container {
    /*background-color: #7e097e;
    border-radius: 1px;*/
    width: 50%;
    margin-left: 25%;
}

.eslogan-oferta {
    text-align: center;
    font-weight: 300;
    color: var(--blackDark);
    font-family: 'Montserrat Subrayada', sans-serif;
}

.offers-container {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.productos{
    max-width: 280px;
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    box-shadow: 0 0 0.1rem #5928b1;
    background-color: rgb(255 255 255 / 93%);
    cursor: pointer;
    margin: 1rem;

}.productos:hover{
    box-shadow: 2px 0px 3px #5928b1;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}
.productos img{
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
}
.productos picture{
    width: 15rem;
    height: 20rem;
}


.informacion{
    border-top: 1px solid #ccc;
    padding: 1em;
    display: flex;
    flex-flow: column;
}

.tipo-envio {
    background-color: #5928b1;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 2px;
}

.container-prices{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}


.precio-ahora {
    color: #000000db;
    font-size: 1.5rem;
    font-weight: 600;
}

.precio-anterior {
    text-decoration: line-through;
    color: #5928b1;
}

.name-product{
    display: block;
    color: #0a0a0a;
    font-weight: 800;
}
.tipo-entrega{
    display: block;
    color: #5928b1;
    font-weight: 500;
    margin-top: 1rem;
    opacity: 0.8;
}
.productos:hover .name-product,
.productos:hover .tipo-entrega{
    display: block;
    transition-duration: 20s;
    transition-property: display;
}

.botones{
    border-bottom:solid 1px #5928b16e ;
    display: flex;
    justify-content: space-evenly;
    background-color: #0e0e0e;
}

.botones a{
    text-align: center;
    color: var(--whiteLetter);
    background-color: #0e0e0e
}
.botones form{
    text-align: center;
    width: 30%;
    padding: 1rem;
}
.borrarBorde{
    background-color: #0e0e0e;
}
.botones button{
    font-size: 1rem;
    cursor: pointer;
}
.botones a:hover{
    color: blueviolet;
    transition: color 0.5s ;
}
.crear-editar{
    margin: auto;
    padding: 1rem;
}


@media (min-width: 768px) {
    
    ::placeholder {
        color: grey;
    }
    /*
    .logo-footer-container{
        width: 20%;
    }*/

    .contact-location{
        display: block;
    }

    .hamburger-button {
        display: none;
    }

}



@media (min-width: 1024px) {
   .name-product, .tipo-entrega{
    font-size: 0px;
    transition: 0.3s;
   } 
.productos:hover .name-product,
.productos:hover .tipo-entrega{
    font-size: 1rem;
    transition-duration: 0.3s;
    transition-property: font-size;
}

.links{
    justify-content: space-evenly;
}
}

@media (min-width: 1440px) {
    main{
        padding: 0 19rem;
    }
} 


