:root {
    --black: #181818;
    --blackLetter: #000000;
    --blackDark: #000000;
    --shadow: #560664;
    --white: #ffffff;
    --whiteLetter: #ffffff;
    --red: red;
    --whiteNo: #ebebeb;
}

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    border: none;

}
