body{
    background-color: #282828 ;
}
main{
    background-color: #282828;
    padding-top: 3vh;
}

/*imagen*/
.container-image{
    width: 24rem;
    margin: auto;
    height: 24rem;
}
.img-juego{
    width: 100%;
    height: 100%;
}

/*categorias*/
.main-description{
    background-color: #212121;
    margin: 1rem;
}

#title-item{
    border-bottom: 1px solid #5928b1;
    color: #dddddd;
}
.description{
    padding: 5%;
}
.description p{
    color: #dddddd;
    letter-spacing: 2px;
    margin: 1rem 0;
}
.lista-description{
    padding: 5%;
}
.lista-description li{
    padding-bottom: 0.3rem;
    color: #dddddd;
}


.precios{
     padding: 0 1rem;   
}
.precio-ahora{
    color: #dddddd;
    font-size: 1.5rem;
    font-weight: 600;
}
.precio-anterior{
    text-decoration: line-through;
    color: #5928b1;
}

.cantidadProductos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 1rem;
}

.cantidadProductos input{
    outline: none; 
    margin-right: 1rem;
    text-align: center;
    padding: 0.5rem 3.5rem 0.5rem 0;
}
.cantidadProductos input:focus{
    border: 2px solid #5928b1;
}
.cantidadProductos a:active{
    color: var(--whiteLetter);
    background-color: rgb(255, 0, 179);
}
.cantidadProductos a{
    color: #dddddd;
    text-align: center;
    width: 7rem;
    background-color: #5928b1;
    padding: 0.5rem;
}.cantidadProductos a:hover{
    background-color: #dddddd;
    color: #5928b1;
    transition-property: background-color color;
    transition-duration: 0.3s;
}

#quantity-items{
    height: 2.2rem;
    width: 4rem;
    background-color: #dddddd;
    outline: none;
    font-size: 15px;
    margin-right: 0.2rem;
}

.list-products{
    padding: 1rem 0;
}

/*banner header*/
#banner-image{
    display: none;
}
    

@media screen and (min-width:768px){
    .section-description{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .list-products{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }
    .price-content{
        display: flex;
        width: 23rem;
        flex-direction: row;
        margin-top: 0.3rem;
    }

    #name-product{
        margin-left: 15%;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 800;
    }
    .lista-description{
        padding: 1rem 0 0 ;
    }

    .cantidadProductos{
        margin: 0;
    }

}

@media screen and (min-width: 1024px){
        #main-content{
            display: flex;
            align-items: center;
            margin: 0 1rem;
            height: 33rem;
        }

        .container-image{
            width: 100rem;
            height: 100%;
            margin-right: 1rem ;
        }

        .main-description{
            margin: 0;
            height: 100%;
            width: 200rem;
            border-left: 1px solid #5928b1;
        }

        footer{
            margin-top: 2rem;
        }
}
/*
@media screen and (min-width: 1440px) {
        #main-content {
            margin: 0 10rem;
        } 
}*/