<footer>
<div class="content">
    <div class="links">
      <div class="logo-footer-container">
        <a href="/">
        <img src="/images/logo-ultimo.png" alt="Juegos" class="logo-footer" />
      </a>
      <ul class="contact-location">
        <li>
          <i class="fa-solid fa-phone-flip"></i>
          <p>123-456-7891</p>
        </li>
        <li>
          <i class="fa-solid fa-envelope"></i>
          <p>Game_Planet@gmail.com</p>
        </li>
        <li>
          <i class="fa-solid fa-location-dot"></i>
          <p>1234 calle, Posadas, Misiones - Argentina</p>
        </li>
      </ul>
    </div>

      <ul class="lista-footer">
          <p>Enlaces</p>
          <li>
            <a href="/">Inicio</a>
          </li>
        <li>
          <a href="/">Términos y condiciones</a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=543764746323" target=":_blank">Contacto</a>
        </li>
        <li>
          <a href="/">Política de privacidad</a>
        </li>
      </ul>

      <div class="icons-footer">
        <p class="Title-social">Redes Sociales</p>
        <a href="https://www.instagram.com/game.plane7/" target=":_blank" class="fa-brands fa-instagram"><p>Instagram</p> </a>
        <a href="/" class="fa-brands fa-youtube"><p>Youtube</p> </a>
        <a href="https://discord.gg/6MnmCESk" class="fa-brands fa-discord" target=":_blank"><p>Discord</p> </a>
        <a href="/" class="fa-brands fa-twitch"><p>Twitch</p> </a>
      </div>
    </div>
  </div>
  <a href="https://api.whatsapp.com/send?phone=543764746323" class="btn-wsp" target="_blank">
  <i class="fa-brands fa-whatsapp" id="wpp"></i>
</a>
<div id="user-menu">
  <ul class="burger-user">
<% if(userLogged){%>
  <li class="user-name"> <p id="name-user"><%=  userLogged.fullName %></p> 
  <img src="/images/avatars/<%= userLogged.image %> " class="userImage">
  <li class="icons-userMenu-burger"><i class="hamburger-button fa-solid fa-bars"></i></li>
</li>
  <li class="icons-userMenu"><a href="/logOut"><i class="fa-solid fa-right-from-bracket"></i> </a></li>
  <% } else {%>
    <li class="icons-userMenu-burger"><i class="hamburger-button fa-solid fa-bars"></i></li>
    <li class="icons-userMenu"><a href="/register"><i class="fa-regular fa-id-card"></i></a></li>
    <li class="icons-userMenu"><a href="/login"><i class="fa-solid fa-user"></i></a></li>
    <%}%>
      <li class="icons-userMenu"><a href="/carrito"> <i class="fa-solid fa-cart-shopping"></i></a></li>
</ul>
</div>
  <div class="copyright">
    <p>Copyright © 2022 Game Planet - All rights reserved</p>
  </div>
</footer>

