<header>

  <section id="top-menu">
      <ul id="top-menu-right">
          <a href="#">Mas vendidos</a>
          |
          <a href="#">Ofertas</a>
          |
          <a href="#">Soporte 24/7</a>
      </ul>
      <div id="user-menu">
        <picture id="pic-logo">
            <a href="/"><img src="/images/logo-ultimo.png " alt=""></a>
        </picture>

        <ul class="burger-user">
      <% if(userLogged){%>
        <li class="user-name"> <p id="name-user"><%=  userLogged.fullName %></p> 
        <img src="/images/avatars/<%= userLogged.image %> " class="userImage">
        <li class="icons-userMenu-burger"><i class="hamburger-button fa-solid fa-bars"></i></li>
      </li>
        <li class="icons-userMenu"><a href="/logOut"><i class="fa-solid fa-right-from-bracket" title="LogOut"></i> </a></li>
        <% } else {%>
          <li class="icons-userMenu-burger"><i class="hamburger-button fa-solid fa-bars"></i></li>
          <li class="icons-userMenu"><a href="/register"><i class="fa-regular fa-id-card" title="Register"></i></a></li>
          <li class="icons-userMenu"><a href="/login"><i class="fa-solid fa-user" title="Login"></i></a></li>
          <%}%>
            <li class="icons-userMenu"><a href="/carrito"> <i class="fa-solid fa-cart-shopping" title="Cart"></i></a></li>
    </ul>
      </div>
    <div id="search-categories">
      <ul id="category-menus">
        <div class="category-container">
          <li><a href="#"><i class="fa-brands fa-playstation"></i> <p class="name-category">Playstation</p> </a></li> 
        </div>
        <div class="category-container">
          <li><a href="#"><i class="fa-brands fa-xbox"></i> <p class="name-category">Xbox</p> </a></li> 
        </div>
        <div class="category-container">
          <li><a href="#"><i class="fa-solid fa-gamepad"></i> <p class="name-category">Nintendo</p> </a></li> 
        </div>
        <div class="category-container">
          <li><a href="#"><i class="fa-solid fa-desktop"></i> <p class="name-category">PC</p> </a></li> 
        </div>
          <div class="buscar">
              <input type="text" placeholder="Buscar" required />
        
              <div class="btn">
                <i class="fas fa-search icon"></i>
              </div>
            </div>
      </ul>
  </div>
  </section>
  <picture id="banner-image">
    <img src="/images/banner-gp.jpeg" alt="">
  </picture>
  </header>