<div class="content">
    <div class="links">
      <div class="logo-footer-container">
        <a href="/">
        <img src="/images/logo.png" alt="Juegos" class="logo-footer" />
      </a>
      </div>

      <ul class="lista-footer">
        <li>
          <a href="/">Términos y condiciones</a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=543764746323" target=":_blank">Contacto</a>
        </li>
        <li>
          <a href="/">Política de privacidad</a>
        </li>
      </ul>

      <div class="icons-footer">
        <a href="https://www.instagram.com/game.plane7/" target=":_blank" class="fa-brands fa-instagram"></a>
        <a href="/" class="fa-brands fa-youtube"></a>
        <a href="https://discord.gg/6MnmCESk" class="fa-brands fa-discord" target=":_blank"></a>
        <a href="/" class="fa-brands fa-twitch"></a>
      </div>
    </div>
  </div>
  <a href="https://api.whatsapp.com/send?phone=543764746323" class="btn-wsp" target="_blank">
  <i class="fa-brands fa-whatsapp" id="wpp"></i>
</a>
  <div class="copyright">
    <p>Copyright © 2022 Game Planet - All rights reserved</p>
  </div>

