<div class="content">
    <div class="links">
      <div class="logo-footer-container">
        <img src="images/logo.png" alt="Juegos" class="logo-footer" />
      </div>

      <ul class="lista-footer">
        <li>
          <a href="#">Términos y condiciones</a>
        </li>
        <li>
          <a href="#">Contacto</a>
        </li>
        <li>
          <a href="#">Política de privacidad</a>
        </li>
      </ul>

      <div class="icons-footer">
        <a href="#" class="fa-brands fa-instagram"></a>
        <a href="#" class="fa-brands fa-youtube"></a>
        <a href="#" class="fa-brands fa-discord"></a>
        <a href="#" class="fa-brands fa-twitch"></a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © 2022 Game Planet - All rights reserved</p>
  </div>