<header class="main-header">
  <div class="elnave">
<div class="icons-header" >
      <a href="https://www.instagram.com/game.plane7/" target=":_blank" class="fa-brands fa-instagram"></a>
      <a href="/" class="fa-brands fa-youtube"></a>
      <a href="https://discord.gg/fdv4HrYH" class="fa-brands fa-discord" target=":_blank"></a>
      <a href="/" class="fa-brands fa-twitch"></a>
    </div>
  
  
      <ul class="menu">

      <li><a href="/register"><i class="fa-regular fa-id-card"></i></a></li>
          <li><a href="/login"><i class="fa-solid fa-user"></i></a></li>
          <li><a href="/carrito"> <i class="fa-solid fa-cart-shopping"></i></a></li>
    </ul>
  </div>
  
  <section class="header-top-bar">
<picture class="picture-logo"><a href="/" style="
  padding: 0;
  margin: 0;
  border: 0;
  /* left: auto; */
"><img src="images/logo.png" class="img-logo" alt="Juegos"></a></picture>
  
    <ul class="nav-bar">
      <li><a href="#">Juegos del momento</a></li>
      <li><a href="#">Más vendidos</a></li>
      <li><a href="#">Ofertas</a></li>
      <li><a href="#">Soporte 24/7</a></li>
    </ul>

    
    <!--<div class="header-search-bar">
      <form action="/" method="GET" class="barraDeBusqueda">
        <input type="text" placeholder="Buscar..." />
        <a href="/" class="fa-solid fa-magnifying-glass"></a>
      </form>
    </div>-->
    <div class="header-search-bar">
      
        <input type="text" placeholder="Buscar...">
        <div class="btn">
          <i class="fa fa-search"></i>
        </div>
      
    </div>
    <div class="hamburger-button">
      <a class="fa-solid fa-bars"></a>
    </div>
    <ul class="header-bottom-bar">
      <li><a href="#">Playstation</a></li>
      <li><a href="#">Xbox</a></li>
      <li><a href="#">Nintendo</a></li>
      <li><a href="#">PC</a></li>
    </ul>
  </section>

</header>

<!--

<header class="main-header">
    <picture class="picture-logo"><a href="/"><img src="images/logo.png" class="img-logo" alt="Juegos" /></a></picture>
    <section class="header-top-bar">
 
      <ul class="nav-bar">
        <li><a href="#">Juegos del momento</a></li>
        <li><a href="#">Más vendidos</a></li>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Soporte 24/7</a></li>
      </ul>

      <ul class="menu">

        <li><a href="/register">Registrarse <i class="fa-regular fa-id-card"></i></a></li>
            <li><a href="/login">Ingresar <i class="fa-solid fa-user"></i></a></li>
            <li><a href="/carrito"> <i class="fa-solid fa-cart-shopping"></i></a></li>
      </ul>

    -->
      <!--<div class="header-search-bar">
        <form action="/" method="GET" class="barraDeBusqueda">
          <input type="text" placeholder="Buscar..." />
          <a href="/" class="fa-solid fa-magnifying-glass"></a>
        </form>
      </div>--><!--
      <div class="header-search-bar">
        
          <input type="text" placeholder="Buscar..." />
          <div class="btn">
            <i class="fa fa-search"></i>
          </div>
        
      </div>
      <div class="hamburger-button">
        <a class="fa-solid fa-bars"></a>
      </div>
      <ul class="header-bottom-bar">
        <li><a href="#">Playstation</a></li>
        <li><a href="#">Xbox</a></li>
        <li><a href="#">Nintendo</a></li>
        <li><a href="#">PC</a></li>
      </ul>
    </section>
  
</header>-->