<header class="main-header">
  <div class="elnave">
    


    <ul class="menu">
      <% if(userLogged){%>
        <li class="user-name"><%= userLogged.fullName %> </li>
        <img src="/images/avatars/<%= userLogged.image %> " class="userImage">
        <li><a href="/logOut"><i class="fa-solid fa-right-from-bracket"></i> </a></li><!--<i class="fa-solid fa-user"></i>-->
        <% } else {%>
          <li><a href="/register"><i class="fa-regular fa-id-card"></i></a></li>
          <li><a href="/login"><i class="fa-solid fa-user"></i></a></li>
          <%}%>
            <li><a href="/carrito"> <i class="fa-solid fa-cart-shopping"></i></a></li>
    </ul>
  </div>

  <section class="header-top-bar">
    <a href="/"><picture class="picture-logo"><img src="/images/logo.png" class="img-logo" alt="Juegos"></picture></a>

    <ul class="nav-bar">
      <li><a href="#">Juegos del momento</a></li>
      <li><a href="#">Más vendidos</a></li>
      <li><a href="#">Ofertas</a></li>
      <li><a href="#">Soporte 24/7</a></li>
    </ul>


    <!--<div class="header-search-bar">
      <form action="/" method="GET" class="barraDeBusqueda">
        <input type="text" placeholder="Buscar..." />
        <a href="/" class="fa-solid fa-magnifying-glass"></a>
      </form>
    </div>-->
    <div class="header-search-bar">

      <input type="text" placeholder="Buscar...">
      <div class="btn">
        <i class="fa fa-search"></i>
      </div>

    </div>
    <div class="hamburger-button fa-solid fa-bars">
    </div>
    <ul class="header-bottom-bar">
      <li><a href="#"><i class="fa-brands fa-playstation"></i>Playstation</a></li>
      <!--<li><a href="#"><i class="fa-solid fa-gamepad-modern"></i>Xbox</a></li>-->
      <li><a href="#"><i class="fa-brands fa-xbox"></i>Xbox</a></li>
      <li><a href="#"><i class="fa-solid fa-gamepad"></i>Nintendo</a></li>
      <li><a href="#"><i class="fa-solid fa-desktop"></i>PC</a></li>
    </ul>
  </section>

</header>

<!--

<header class="main-header">
    <picture class="picture-logo"><a href="/"><img src="images/logo.png" class="img-logo" alt="Juegos" /></a></picture>
    <section class="header-top-bar">
 
      <ul class="nav-bar">
        <li><a href="#">Juegos del momento</a></li>
        <li><a href="#">Más vendidos</a></li>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Soporte 24/7</a></li>
      </ul>

      <ul class="menu">

        <li><a href="/register">Registrarse <i class="fa-regular fa-id-card"></i></a></li>
            <li><a href="/login">Ingresar <i class="fa-solid fa-user"></i></a></li>
            <li><a href="/carrito"> <i class="fa-solid fa-cart-shopping"></i></a></li>
      </ul>

    -->
<!--<div class="header-search-bar">
        <form action="/" method="GET" class="barraDeBusqueda">
          <input type="text" placeholder="Buscar..." />
          <a href="/" class="fa-solid fa-magnifying-glass"></a>
        </form>
      </div>-->
<!--
      <div class="header-search-bar">
        
          <input type="text" placeholder="Buscar..." />
          <div class="btn">
            <i class="fa fa-search"></i>
          </div>
        
      </div>
      <div class="hamburger-button">
        <a class="fa-solid fa-bars"></a>
      </div>
      <ul class="header-bottom-bar">
        <li><a href="#">Playstation</a></li>
        <li><a href="#">Xbox</a></li>
        <li><a href="#">Nintendo</a></li>
        <li><a href="#">PC</a></li>
      </ul>
    </section>
  
</header>-->